.content-subhead {
  font-size:2em;
  color: #222;
  margin-bottom : 0.2em;
  margin-top:1em;
}
.content-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}
.content-item:hover,.content-item:focus {
  color:#eee;
}
